name: Boot logo

on: [push, pull_request]

# TODO: Use composites?
jobs:
  build-bittboy:
    runs-on: ubuntu-latest
    container:
      image: arcnor/toolchain-bittboy:latest

    steps:
    - uses: actions/checkout@v2
    - name: build
      run: make EXTRA_LDFLAGS="-lmad -lasound -lvorbisidec -logg"
    - uses: actions/upload-artifact@v2
      with:
        name: artifacts-bittboy
        path: boot-logo

  build-powkiddy:
    runs-on: ubuntu-latest
    container:
      image: arcnor/toolchain-bittboy:latest

    steps:
    - uses: actions/checkout@v2
    - name: build
      run: make EXTRA_LDFLAGS="-lmad -lasound -lvorbisidec -logg" INCLUDES=-DVERSION_POWKIDDY
    - uses: actions/upload-artifact@v2
      with:
        name: artifacts-powkiddy
        path: boot-logo

  build-pocketgo:
    runs-on: ubuntu-latest
    container:
      image: arcnor/toolchain-bittboy:latest

    steps:
    - uses: actions/checkout@v2
    - name: build
      run: make EXTRA_LDFLAGS="-lmad -lasound -lvorbisidec -logg" INCLUDES=-DVERSION_POCKETGO
    - uses: actions/upload-artifact@v2
      with:
        name: artifacts-pocketgo
        path: boot-logo

  build-retrofw:
    runs-on: ubuntu-latest
    container:
      image: arcnor/toolchain-retrofw:latest

    steps:
    - uses: actions/checkout@v2
    - name: build
      run: make
    - uses: actions/upload-artifact@v2
      with:
        name: artifacts-retrofw
        path: boot-logo

  build-gcw0:
    runs-on: ubuntu-latest
    container:
      image: arcnor/toolchain-gcw0:latest

    steps:
    - uses: actions/checkout@v2
    - name: build
      run: make
    - uses: actions/upload-artifact@v2
      with:
        name: artifacts-gcw0
        path: boot-logo
